{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card mb-3">
                <div class="card-body text-center">
                    <h2 class="card-title">Make Trip</h2>
                    <form method="get" action="{% url 'create_trip' %}">
                        <button class="btn btn-warning btn-lg">Create a New Trip</button>
                    </form>
                    <p class="card-text mt-3">Add a route you would be taking sometime soon.<br><span class="text-muted">Make money.</span></p>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card mb-3">
                <div class="card-body text-center">
                    <h2 class="card-title">Find Trip</h2>
                    <form method="get" action="{% url 'search_trip' %}">
                        <button class="btn btn-warning btn-lg">Find a Trip</button>
                    </form>
                    <p class="card-text mt-3">Find someone who can give you a ride.<br><span class="text-muted">Make new friends.</span></p>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card mb-3">
                <div class="card-body text-center">
                    <h2 class="card-title">Sent Requests</h2>
                    <form method="post" action="{% url 'send_request' %}">
                    <button class="btn btn-warning btn-lg">View Sent Requests</button>
                    </form>
                    <p class="card-text mt-3">Check if your requests have been accepted.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card mb-3">
                <div class="card-body text-center">
                    <h2 class="card-title">Received Requests</h2>
                    <form method="get" action="{% url 'received_requests' %}">
                    <button class="btn btn-warning btn-lg">View Received Requests</button>
                    </form>
                    <p class="card-text mt-3">Check if someone wants to ride with you.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card mb-3">
                <div class="card-body text-center">
                    <h2 class="card-title">My Trips</h2>
                    <form method="get" action="{% url 'trip_list' %}">
                    <button class="btn btn-info btn-lg">View My Trips</button>
                    </form>
                    <p class="card-text mt-3">See all your itineraries in one place.<br><span class="text-muted">Get Organized.</span></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
